<%= form_for @user do |f| %>

	<div class="control-group">
		<%= f.label :first_name, 'First Name:', :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :first_name, :class => 'input-large' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :last_name, 'Last Name:', :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :last_name, :class => 'input-large' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :email, 'Email:', :class => 'control-label' %>
		<div class="controls">
			<%= f.email_field :email, :class => 'input-large' %>
		</div>
	</div>

	<div class="well">
		<%= f.submit :class => 'btn btn-success' %>
		<a href=<%= url_for(:back) %> class="btn"><i class="icon-arrow-left"></i> Back</a>
	</div>
	
<% end %>