<div class="page-header">
	<h1>Users</h1>
</div>

<% if @users.length > 0 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>First</th>
				<th>Last</th>
				<th>Email</th>
				<th>Date Submitted</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>
		<% for user in @users %>
			<tr id="user_<%= user.id %>">
				<td><%= link_to 'Show', user_path(user), :class => 'btn' %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= user.created_at.strftime("%m/%d/%Y %H:%M") %></td>
				<td>
					<%= link_to 'Edit', edit_user_path(user), :class => 'btn' %>
					<%= link_to 'Delete', user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
				</td>
			</td>
		<% end %>
		</tbody>
	</table>
<% else %>
	<div class="alert alert-warning">No users have been created.</div>
<% end %>

<div class="well">
	<a href="<%= url_for(:action => 'new') %>" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add User</a>
</div>