<p>
  <b>Name:</b>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
</p>

<div class="well">
	<a href=<%= url_for(:action => 'edit') %> class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
	<a href=<%= url_for(:action => 'destroy') %> class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="Delete"><i class="icon-trash icon-white"></i> Delete</a>
	<a href=<%= url_for(:back) %> class="btn"><i class="icon-arrow-left"></i> Back</a>
</div>