<!DOCTYPE html>
<html>
<head>
  <title>Hackathon TDD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%
flash.each do |name, message|
    flash_class = (name == :notice) ? 'info' : 'danger'
%>

<div class="alert alert-<%= flash_class %>">
    <%= message %>
</div>

<%
end
%>

<div class="container">
	<%= yield %>
</div>

</body>
</html>